* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

#logo img {
 height: 60px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid rgb(243, 78, 7);
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration:  none;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul li a:hover {
    color:rgb(243, 78, 7);
}

/* messages */
.message {
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}

.container {
    min-height: 60vh;
    padding: 2em;
}
/* formulario */

.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;    
}

.auth-container h2 {
    margin-bottom: 1em;
    color: #fff;
    border-left: 4px solid rgb(243, 78, 7);
    padding: .3em;
    width: 100px;
}

.auth-container a {
    color: rgb(243, 78, 7);
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-control input, .form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(243, 78, 7);
}

form input[type='submit'],
.btn {
    background-color: transparent;
    color: rgb(243, 78, 7);
    border: 2px solid rgb(243, 78, 7);
    padding: .5em 1.2em; /*V, H*/
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

form input[type='submit']:hover,
.btn:hover {
    background-color: rgb(243, 78, 7);
    color: #fff;
}

/* crete */

.idea-form-container a {
    color: rgb(243, 78, 7);

}

.idea-form-container a:hover {
    color: rgb(243, 78, 7);
}

.idea-form-container h1 {
    margin: 1em 0; /* V x H*/
    color: #fff;
    border-left: 4px solid rgb(243, 78, 7);
    padding: 0.3em;
}

.idea-form-container form {
    max-width: 30%;
    margin-top: 1.5em;
}

/* dashboar */

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }
  
  .title-container h2 {
    border-left: 4px solid rgb(243, 78, 7);
    padding: 10px;
  }
  
  .dashboard h3 {
    margin-bottom: 1.5em;
  }
  
  .dashboard ul {
    list-style: none;
  }
  
  .dashboard li {
    padding: 12px;
    border-bottom: 1px solid #f6982d;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dashboard .label {
    font-weight: bold;
    color: #f6982d;
    margin-right: 2em;
  }
  
  .dashboard .actions {
    display: flex;
  }
  
  .dashboard .actions .btn {
    color: #fff;
    border-color: #fff;
    margin: 0 0.5em;
  }  

  .dashboard a {
    color: rgb(243, 78, 7);
  }
footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgb(243, 78, 7);

}

footer span {
    font-weight: bold;
    color: rgb(243, 78, 7);
}
