* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

#logo img {
 height: 60px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid rgb(243, 78, 7);
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration:  none;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul li a:hover {
    color:rgb(243, 78, 7);
}

.container {
    min-height: 60vh;
    padding: 2em;
}

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgb(243, 78, 7);

}

footer span {
    font-weight: bold;
}