<div class="idea-form-container">
    <a href="/ideas/dashboard">Voltar</a>
    <h1>Criando uma Ideia:</h1>
    <form action="/ideias/add">
        <div class="form-control">
            <label for="title">Ideia:</label>
            <input type="text" name="title" placeholder="Digite a sua ideia..">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>