<div class="idea-form-container">
    <a href="/ideas/dashboard">Voltar</a>
    <h1>Editando uma Ideia:</h1>
    <form action="/ideas/edit" method="POST">
        <input type="hidden" name="id" value="{{idea.id}}">
        <div class="form-control">
            <label for="title">Ideia:</label>
            <input type="text" name="title" placeholder="Digite a sua ideia.." value="{{idea.title}}">
        </div>
        <input type="submit" value="Editar Ideia">
    </form>
</div>