<div class="home-header">
    <h1>Todas as Ideias</h1>
</div>
<div class="ideas-container">
    {{#each ideas}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <figcaption>por <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>